pip install wget
pip install transformers
pip install sentencepiece
pip install datasets
pip install pytorch-lightning==1.6.5
pip install neptune-client
pip install wikipedia
pip install gensim
pip install google-cloud
pip install gsutil
pip install requests -U
pip install pyserini==0.16
pip install faiss-cpu
pip install faiss-gpu
pip install pygaggle
pip install openai